using FluentValidation;

namespace {{ SolutionName }}.Shared.{{ FeatureName }};

public class {{ FeatureName }}DtoValidator : AbstractValidator<{{ FeatureName }}Dto>
{
    public {{ FeatureName }}DtoValidator()
    {
        //TODO: Define validation rules for the DTO properties
    }
}

public class {{ FeatureName }}Dto
{
    //TODO: Define properties for the DTO
}
