name: CI - Build and Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch: # Allow manual triggering of the workflow

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '8.0.x' # Use the latest .NET 8.0 SDK

            - name: Restore dependencies
              run: dotnet restore

            - name: Build the solution
              run: dotnet build --no-restore --configuration Release
            
            - name : Run tests
              run: dotnet test --no-build --logger "console;verbosity=detailed"

            - name: Pack CLI (verify that it can be packed)
              run: dotnet pack src/BlitzSliceForge.Cli -c Release --no-build -o artifacts

                
        